<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="libraryFolder" value="moos"/>
    <add key="defaultAlbumArtPath" value="avares://moos/Assets/DefaultAlbumArt.png"/>
	<add key="dllFolder" value="lib"/>
    
    <add key="defaultPlayingVolume" value="25" />
    <add key="defaultPlayingSpeed" value="100" />
    <add key="defaultPlayingPitch" value="0" />
  </appSettings>
</configuration>