<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="libraryFolder" value="moos"/>
    <!--<add key="defaultAlbumArtPath" value="avares://moos/Assets/DefaultAlbumArt.png"/>-->
    <add key="defaultAlbumArtPath" value="avares://moos/Assets/Test.png"/>
  </appSettings>
</configuration>