<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- folders -->
    <add key="libraryFolder" value="moos"/>
    <add key="playlistFolder" value="playlists"/>
    <add key="defaultAlbumArtPath" value="avares://moos/Assets/DefaultAlbumArt.png"/>
	  <add key="dllFolder" value="lib"/>
    
    <!-- api -->
    <add key="albumIdSearchApi" value="https://musicbrainz.org/ws/2/release/" />
    <add key="trackAlbumIdSearchApi" value="http://musicbrainz.org/ws/2/recording/"/>
    <add key="coverArtApi" value="https://coverartarchive.org/release/" />
    
    <!-- default app values -->
    <add key="defaultPlayingVolume" value="25" />
    <add key="defaultPlayingSpeed" value="100" />
    <add key="defaultPlayingPitch" value="0" />
    <add key="defaultCropPosition" value="25"/>
    <add key="defaultCropSide" value="150"/>
  </appSettings>
</configuration>